<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="moduleId" value="around_hub_spring_boot"/>
    <property name="type" value="around_hub"/>
    <property name="logback" value="logback"/>

    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr(%-5level){yellow} %clr(%-40.40logger{39}){cyan} %clr([%X{REQUEST_METHOD} %X{REQUEST_URI}]){blue} %clr(%X{REQUEST_ID}){magenta} %clr(%X{REQUEST_IP}){yellow} %clr(%X{REQUEST_TIME}){blue} %m%n"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{39} - %msg%n"/>
    <property name="LOG_FILE" value="logs/app.log"/>
    <property name="CONSOLE_LOG_CHARSET" value="${CONSOLE_LOG_CHARSET:-default}"/>

    <springProperty name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-uri"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="DISCORD" class="cleanie.refab.common.log.alert.DiscordAppender">
        <webhookUrl>${DISCORD_WEBHOOK_URL}</webhookUrl>
    </appender>

    <appender name="ASYNC-DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="ASYNC-DISCORD"/>
    </root>

</configuration>